.styleTest {
    background-color: cyan;
}

*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container > * {
    border: 1px solid rgba(0, 0, 0, 0.11);
}

.container {
    width: 100vw;
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;

    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 20% 80%;
}

header {
    background-color: #C4DFDF;
    grid-column: 1 / 3;
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
}

nav {
    background-color: #D2E9E9;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    font-size: 18px;
}

.navRow {
    margin: 6px 0 6px 0;
}

.projectsHeaderDiv {
    display: flex;
    align-items: center;
    font-size: 24px;
    margin-bottom: 1rem;
}

.navContainer, .projectsHeaderDiv {
    width: 100%;    

}

.projectsHeaderDiv, .navRow {
    display: flex;
    justify-content: space-between;
    height: 3rem;
    background-color: #D2E9E9;
}

.projectButton, .deleteProjectButton, #newProjButt {
    background-color: transparent;
    transition: box-shadow .3s;
    margin: 0;
    border: none;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
}

.activeButt {
    background-color: #b0dfdf;
}

.navRow:hover, .deleteProjectButton:hover, #newProjButt:hover, .newTodoButton:hover, .toDoCard:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.411);
    z-index: 2;
}

.projectsHeader, .projectButton, .deleteProjectButton, #newProjButt {
    padding: 0.5rem;
    border-radius: 6px;
}

.projectButton {
    flex: 1;
    text-align: start;
}

main {
    background-color: #E3F4F4;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, 20rem);
    grid-template-rows: 13rem;
    grid-auto-rows: 13rem;
    gap: 2rem;
}

dialog {
    border-radius: 20px;
}

#newProject {
    position: absolute;
    top: 40%;
    left: 50%;

    padding: 4rem;
}

#newProjCloseDialog, #newToDoCloseDialog {
    position: absolute;
    top: 5%;
    left: 90%;
}

#newToDo {
    position: absolute;
    top: 40%;
    left: 40%;
    padding: 3rem;

    

    overflow: auto;
}

.toDoRow {
    width: 100%;
    margin-bottom: 2%;
    display: flex;
}

.toDoRow > label {
    width: 7em;
    display: flex;
    justify-content: flex-end;
}

#toDoFormSubmit {
    margin-top: 5%;
    margin-left: 15%;
    padding: 7px;
}

.newTodoButton {
    display: flex;
    justify-content: center;
    align-items: center;
}

.plusIMG {
    width: 50%;
    height: 50%;
}

dialog#newProject::backdrop, dialog#newToDo::backdrop {
    background-color: rgba(77, 77, 77, 0.623);
}

.newTodoButton, .toDoCard {
    background-color: #F8F6F4;
    transition: box-shadow .3s;
    border: solid black 1px;
    height: 13rem;
    border-radius: 1rem;
    cursor: pointer;
}

.toDoCard {
    padding: 0.5rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 2fr;
}

.cardTitle, .cardDate {
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
}

.cardTitle {
    padding: 1rem 0 0 0.5rem;
    align-items: flex-start;
    font-size: 20px;

}